<ion-view title="Minha Sacola" id="page16" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="minhaSacola-list14" class=" ">
            <ion-item class="item-thumbnail-left  " id="minhaSacola-list-item25">
                <h2>Produto X</h2>
                <p>Valor: R$ 25,12</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="minhaSacola-list-item26">
                <h2>Produto Y</h2>
                <p>Valor: R$ 12,00</p>
            </ion-item>
        </ion-list>
        <button id="minhaSacola-button1" class=" button button-assertive  button-block ">Finalizar</button>
    </ion-content>
</ion-view>