<ion-view title="Selagem c/ vinagre de maçã" id="page13" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <div class="">
            <img src="img/L3TjXeoAQQS2hULR5DuD_maxresdefault.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="selagemCVinagreDeMa-list5" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="selagemCVinagreDeMa-list-item11">
                <img src="img/y2AyKEhzRXKUHDzZqzEE_avatar-xlarge-20652.jpg">
                <h2>isilmuyna</h2>
                <p>300 0.0 100 &lt;3</p>
                <i class="icon ion-ios-heart"></i>
            </ion-item>
            <div class="item item-body " id="selagemCVinagreDeMa-list-item-container1">
                <p id="selagemCVinagreDeMa-markdown2" style="margin-top:0px;color:#000000;font-size:15px;text-align:justify;" class=" ">Recomendado para quem fez descolorações e/ou procedimentos químicos agressivos, tira o efeito elástico e dá brilho aos fios!</p>
            </div>
            <ion-item class="item-icon-left  " id="selagemCVinagreDeMa-list-item14" href="mailto:">
                <i class="icon ion-ios-pricetags"></i>Cabelo, reconstrução,vinagre de maçã.</ion-item>
        </ion-list>
        <h3 id="selagemCVinagreDeMa-heading1" style="color:#FFFFFF;text-align:center;" class=" bm-bg-1  bm-section-title bm-color-white">Procedimento</h3>
        <ion-list id="selagemCVinagreDeMa-list7" class=" ">
            <ion-item class="item-thumbnail-left  " id="selagemCVinagreDeMa-list-item10">
                <h2>Passo 1</h2>
                <p style="white-space:normal;">faça uma hidratação potente de sua preferência</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="selagemCVinagreDeMa-list-item15">
                <h2>Passo 2</h2>
                <p style="white-space:normal;">faça a mistura de 1 colher de vinagre de maçã para 2 de um creme qualquer</p>
            </ion-item>
        </ion-list>
        <ion-list id="selagemCVinagreDeMa-list9" class=" ">
            <ion-item class="item-thumbnail-left  " id="selagemCVinagreDeMa-list-item16">
                <h2>Passo 3</h2>
                <p style="white-space:normal;">deixe agir por 5 minutos,enxague,seque e pranche se preferir.</p>
            </ion-item>
        </ion-list>
        <h3 id="selagemCVinagreDeMa-heading3" style="color:#FFFFFF;text-align:center;" class=" bm-bg-1  bm-section-title">Produtos Usados</h3>
        <ion-list id="selagemCVinagreDeMa-list11" class=" ">
            <ion-item class="item-thumbnail-left  " id="selagemCVinagreDeMa-list-item18" ui-sref="hidratanteX">
                <h2>hidratante potente</h2>
                <p style="white-space:normal;">hidratante cavalar bichão anabalizante vai monstro</p>
            </ion-item>
        </ion-list>
        <h3 id="selagemCVinagreDeMa-heading2" style="color:#FFFFFF;text-align:center;" class=" bm-bg-1  bm-section-title">Receitas Relacionadas</h3>
        <ion-list id="selagemCVinagreDeMa-list10" class=" ">
            <ion-item class="item-thumbnail-left  " id="selagemCVinagreDeMa-list-item9">
                <h2>reconstrução c/ óleo de coco</h2>
                <p style="white-space:normal;">recomendado p/ cabelo cacheados</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="selagemCVinagreDeMa-list-item13">
                <h2>hidratação com maizena</h2>
                <p style="white-space:normal;">hidratação bomba de brilho e maciez</p>
            </ion-item>
        </ion-list>
        <h3 id="selagemCVinagreDeMa-heading6" style="color:#FFFFFF;text-align:center;" class=" bm-bg-1  bm-section-title">Comentários</h3>
        <ion-list id="selagemCVinagreDeMa-list16" class=" ">
            <ion-item class="item-thumbnail-left  " id="selagemCVinagreDeMa-list-item30">
                <h2>Usuário A</h2>
                <p style="white-space:normal;">WoW!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="selagemCVinagreDeMa-list-item31">
                <h2>Usuário B</h2>
                <p style="white-space:normal;">Perfeito!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="selagemCVinagreDeMa-list-item36">
                <h2>Usuário C</h2>
                <p style="white-space:normal;">Caguei...</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>