<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-royal tabs-icon-left bm-color-white" id="tabsController-tabs1">
        <ion-tab title="" icon="ion-ios-home" href="#/page1/home" id="tabsController-tab4" class=" bm-bg-1 bm-color-white">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Beleza" icon="No Icon" href="#/page1/home-beauty" id="tabsController-tab1" class=" bm-bg-1 bm-color-white">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Decoração" icon="No Icon" href="#/page1/home-decoration" id="tabsController-tab2" class=" bm-bg-1 bm-color-white">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Roupas" icon="No Icon" href="#/page1/home-clothing" id="tabsController-tab3" class=" bm-bg-1 bm-color-white">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>