<ion-view title="Home" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <div class="tabs tabs-top" style="top:0;left:0;position:fixed;">
                <a href="#/clothing" class="tab-item">
                    Receitas
                </a>

                <a href="#/clothing/trending" class="tab-item">
                    Tendências
                </a>

                <a href="#/clothing/channels" class="tab-item">
                    Canais
                </a>

            </div>
        </div>
    </ion-content>
</ion-view>
