<ion-view id="page14" class=" ">
    <ion-nav-title>{{product.name}}</ion-nav-title>
    <ion-content padding="false" class="has-header">
        
        <div ng-repeat="option in product_options" class="list card " id="hidratanteX-card21">
            <ion-item class="item-avatar  " id="hidratanteX-list-item19">
                <img src="{{appUrl}}/{{option.store_image}}">
                <h2>{{ option.name }}</h2>
                <p>{{ option.store_name }}</p>
            </ion-item>
            <div style="margin: 0px; background-color: rgb(232, 235, 239);">
                <img src="{{appUrl}}/{{option.image_path}}">
            </div>
            <ion-item class="item-icon-left item-icon-right  " id="hidratanteX-list-item20">
                <i ng-click="redirectToStore(option.id)" class="icon ion-bag" ></i>R$ {{ option.price | number:2 }}
                <span class="item-note">lista de desejos</span>
                <i class="icon ion-heart"></i>
            </ion-item>
        </div>
        
        <p ng-if="product_options.length == 0">
            Este produto não possui opções cadastradas no aplicativo
        </p>
        
    </ion-content>
</ion-view>
