<ion-view on-swipe-left="changeTab('tabs.subscriptions')" title="Tendências" hide-back-button="true" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div ng-repeat="recipe in recipes" class="list card bm-no-margin-top" id="recipe-card-{{$index}}">
            <ion-item id="beleza-list-item8" class="  ">{{recipe.name}}
                <span class="item-note">{{ recipe.created_at }}</span>
            </ion-item>
            <div class=" item item-image">
                <a style="display:block;" ui-sref="recipe({recipeId: {{recipe.id}}})">
                    <img src="{{appUrl}}/{{recipe.image_path}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <ion-item class="item-avatar item-icon-right  " id="beleza-list-item12">
                <img src="{{appUrl}}/{{recipe.channel_image}}">
                <h2>{{ recipe.channel_name }}</h2>
                <p style="white-space:normal;">
                    {{ recipe.view_count }} <i class="ion-eye"></i>
                    {{ recipe.like_count }} <i class="ion-heart"></i>
                </p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>