<ion-view title="Tendências" hide-back-button="true" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="beleza2-card24">
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-item class="item-avatar item-icon-right  " id="beleza2-list-item32">
                <h2>Receita X</h2>
                <p>Usuário</p>
                <i class="icon ion-thumbsup icon-accessory"></i>
            </ion-item>
        </div>
        <div class="list card " id="beleza2-card25">
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-item class="item-avatar item-icon-right  " id="beleza2-list-item37">
                <h2>Receita Y</h2>
                <p>Usuário</p>
                <i class="icon ion-thumbsup icon-accessory"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>