<ion-view on-swipe-left="changeTab('tabs.filter')" on-swipe-right="changeTab('tabs.trending')" title="Inscrições" hide-back-button="true" id="page7" class=" ">
    
    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content padding="false" class="has-header">
        <ion-list id="beleza3-list15" class=" ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="channelFilter" type="search" placeholder="Buscar Canal">
            </label>
            <ion-item ng-repeat="channel in channels | filter:channelFilter" class="item-avatar  " id="beleza3-list-item33">
                <img src="{{appUrl}}/{{channel.image_path}}">
                <h2>{{ channel.name }}</h2>
                <p>{{ channel.short_desc }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
